data/feb20/
data/feb22/
data/mar1/
data/mar2/
data/mar4/
data/mar5/
james.pdf
*.aux
*.log
*.bbl
*.blg
*synctex*
*DS_Store
*~
agujournaltemplate.tex
agusuppinfosample.tex
agujournalsample.tex
notes.txt